<template>
	<div class="home">
		<v-layout row wrap pa-3>
			<v-flex>
				<h1 class="display-3 font-weight-thin pb-3">Need to rent a car?</h1>
				<h3 class="headline font-weight-light pb-3">Look no further. Wherever you want to go, whatever car you need, we've got the keys. Just enter your destination, pick-up and drop-off dates and book your car in seconds.</h3>
			</v-flex>
		</v-layout>
		<search-container></search-container>
	</div>
</template>

<script>
import SearchContainer from '../components/SearchContainer';

export default {
	name: 'home',
	components: {
		SearchContainer
	}
};
</script>
