<template>
	<div class="search">
		<v-container grid-list-md>
			<v-layout row wrap>
				<v-flex xs12>
					<v-stepper value="2">
						<v-stepper-header>
							<v-stepper-step complete step="1">Choose pickup location & time</v-stepper-step>

							<v-divider></v-divider>

							<v-stepper-step step="2">Choose a car</v-stepper-step>

							<v-divider></v-divider>

							<v-stepper-step step="3">Enter booking details</v-stepper-step>
						</v-stepper-header>
					</v-stepper>
				</v-flex>
			</v-layout>
			<v-layout row wrap>
				<v-flex xs12 md4 pr-4>
					<v-layout row wrap mt-2>
						<v-flex xs12 pb-4>
							<search-input-location></search-input-location>
						</v-flex>
					</v-layout>
					<v-layout row wrap>
						<v-flex xs12>
							<search-input-date label="Pick-up date" data-key="datePickup"></search-input-date>
						</v-flex>
					</v-layout>
					<v-layout row wrap>
						<v-flex xs12>
							<search-input-date label="Drop-off date" data-key="dateDropoff"></search-input-date>
						</v-flex>
					</v-layout>
				</v-flex>
				<v-flex xs12 md8>
					<v-layout row wrap mt-2>
						<v-flex xs6
							v-for="(item, index) in vehicles"
							:key="item.id"
							>
							<vehicle-card
								:item="item"
								:index="index"
								></vehicle-card>
						</v-flex>
					</v-layout>
				</v-flex>
			</v-layout>
		</v-container>
	</div>
</template>

<script>
import SearchInputLocation from '../components/SearchInputLocation';
import SearchInputDate from '../components/SearchInputDate';
import VehicleCard from '../components/VehicleCard';

export default {
	name: 'search',
	components: {
		SearchInputLocation,
		SearchInputDate,
		VehicleCard
	},
	asyncData({ store, route }) {
		return store.dispatch('fetchVehicles', {});
	},
	computed: {
		vehicles() {
			return this.$store.state.vehicles;
		}
	}
};
</script>