<template>
	<v-menu
		:close-on-content-click="false"
		v-model="menu"
		lazy
		transition="scale-transition"
		offset-y
		full-width
		min-width="290px"
	>
		<v-text-field
			slot="activator"
			v-model="dateFormatted"
			:label="label"
			prepend-icon="event"
			readonly
		></v-text-field>
		<v-date-picker
			v-model="date"
			@input="menu = false"
			:min="minDate"
		></v-date-picker>
	</v-menu>
</template>

<script>
import upperFirst from 'lodash/upperFirst';
import format from 'date-fns/format';

export default {
	props: {
		label: {
			default: 'Date'
		},
		dataKey: {
			default: 'searchInputDate'
		}
	},
	data() {
		return {
			defaultDate: new Date().toISOString().substr(0, 10),
			menu: false
		}
	},
	methods: {
		formatDate(date) {
			let month = `${date.getMonth() + 1}`;
			let day = `${date.getDate()}`;
			const year = date.getFullYear();

			if (month.length < 2) {
				month = `0${month}`;
			}

			if (day.length < 2) {
				day = `0${day}`;
			}

			return [year, month, day].join('-');
		}
	},
	computed: {
		date: {
			get () {
				return this.$store.state[this.dataKey] || this.defaultDate;
			},
			set (value) {
				const mutationName = 'update' + upperFirst(this.dataKey);

				this.$store.commit(mutationName, value)
			}
		},
		minDate() {
			const today = new Date();

			return this.formatDate(today);
		},
		dateFormatted () {
			return this.date ? format(this.date, 'dddd, MMM DD YYYY') : ''
		}
	}
}
</script>