<template>
	<div class="search-container">
		<v-layout row wrap>
			<v-flex xs12 sm6 md4>
				<search-input-location></search-input-location>
			</v-flex>
			<v-flex xs12 sm6 md4>
				<search-input-date label="Pick-up date" data-key="datePickup"></search-input-date>
			</v-flex>
			<v-flex xs12 sm6 md4>
				<search-input-date label="Drop-off date" data-key="dateDropoff"></search-input-date>
			</v-flex>
			<v-spacer></v-spacer>
		</v-layout>
		<v-layout row wrap>
			<v-flex text-xs-right>
				<v-btn large color="primary" @click="search"><v-icon left>search</v-icon>Search</v-btn>
			</v-flex>
		</v-layout>
	</div>
</template>

<script>
import SearchInputLocation from '../components/SearchInputLocation';
import SearchInputDate from '../components/SearchInputDate';

export default {
	components: {
		SearchInputLocation,
		SearchInputDate
	},
	methods: {
		search() {
			this.$router.push('search');
		}
	}
};
</script>