<template>
	<v-autocomplete
		:loading="loading"
		:items="items"
		:search-input.sync="search"
		v-model="select"
		@change="change"
		item-text="name"
		hide-details
		light
		prepend-icon="business"
		no-data-text="Type to search for a city"
		label="Select pickup location"
		></v-autocomplete>
</template>

<script>
export default {
	data() {
		return {
			loading: false,
			items: [],
			search: null,
			select: null,
			locations: [
				{
					id: 1,
					name: 'Tallinn'
				},
				{
					id: 2,
					name: 'Tartu'
				},
				{
					id: 3,
					name: 'Pärnu'
				},
				{
					id: 4,
					name: 'Narva'
				},
				{
					id: 5,
					name: 'Rakvere'
				},
				{
					id: 6,
					name: 'Haapsalu'
				},
				{
					id: 7,
					name: 'Viljandi'
				},
				{
					id: 8,
					name: 'Võru'
				}
			]
		}
	},
	watch: {
		search(val) {
			return val && val !== this.select && this.querySelections(val);
		}
	},
	mounted() {
		this.items = this.locations;

		if (this.selectedLocation) {
			this.select = this.selectedLocation.name;
		}
	},
	computed: {
		selectedLocation() {
			return this.$store.state.selectedLocation;
		}
	},
	methods: {
		findLocationByName(name) {
			return this.locations.find(item => {
				return item.name === name;
			});
		},
		change(val) {
			this.$store.commit('updateSelectedLocation', this.findLocationByName(val));
		},
		querySelections(queryString) {
			this.loading = true
			// Simulated ajax query
			setTimeout(() => {
				this.items = this.locations.filter(item => {
					return (item.name || '').toLowerCase().indexOf((queryString || '').toLowerCase()) > -1
				})
				this.loading = false
			}, 200)
		}
	}
}
</script>