<template>
	<v-footer
		  dark
		  height="auto"
		>
		  <v-card
			flat
			tile
			width="100%"
			class="indigo lighten-1 white--text text-xs-center pa-2"
		  >
			<v-card-text class="white--text">
			  Cheap Car Rentals, Best Prices Guaranteed!
			</v-card-text>

			<v-divider></v-divider>

			<v-card-text class="white--text">
			  &copy;2018 — <strong>Car Rental</strong>
			</v-card-text>
		  </v-card>
	</v-footer>
</template>
