<template>
	<v-toolbar app class="indigo lighten-1 white--text">
		<v-toolbar-side-icon dark
			@click.stop="toggleDrawer"
		></v-toolbar-side-icon>
		<h2 class="headline font-weight-light">Car Rental</h2>
	</v-toolbar>
</template>
<script>
export default {
	methods: {
		toggleDrawer() {
			this.$store.commit('toggleDrawer', !this.$store.state.drawerOpen);
		}
	}
};
</script>
