<template>
	<v-navigation-drawer app :value="drawerOpen" class="nav-drawer">
		<v-toolbar flat class="indigo lighten-1">
			<v-list>
				<v-list-tile>
					<v-list-tile-title class="title font-weight-light white--text">
						<v-icon left class="white--text">directions_car</v-icon>&nbsp;&nbsp;Menu
					</v-list-tile-title>
				</v-list-tile>
			</v-list>
		</v-toolbar>

		<v-divider></v-divider>

		<v-list dense class="pt-0">
			<v-list-tile
				v-for="item in drawer.items"
				:key="item.title"
				class="nav-drawer__item"
			>
				<v-list-tile-action>
					<v-icon>{{item.icon}}</v-icon>
				</v-list-tile-action>

				<v-list-tile-content class="body-2 font-weight-regular">
					<router-link :to="item.link">{{item.title}}</router-link>
				</v-list-tile-content>
			</v-list-tile>
		</v-list>
	</v-navigation-drawer>
</template>
<script>
export default {
	data() {
		return {
			drawer: {
				items: [
					{
						title: 'Home',
						icon: 'home',
						link: '/'
					},
					{
						title: 'About',
						icon: 'info',
						link: '/about'
					}
				],
				right: null
			}
		};
	},
	computed: {
		drawerOpen() {
			return this.$store.state.drawerOpen;
		}
	},
	methods: {
		toggleDrawer() {
			this.$store.commit('toggleDrawer', !this.drawerOpen);
		}
	}
};
</script>

<style lang="stylus">
.nav-drawer {
	&__item {
		&:hover {
			background-color: #EEEEEE;
			cursor: pointer;
		}

		a {
			color: #424242;
			text-decoration: none;

			&.router-link-exact-active {
				text-decoration: underline;
			}
		}
	}
}
</style>