<template>
	<v-card class="vehicle-card">
		<v-img
			:src="item.image"
		></v-img>

		<v-card-title primary-title>
			<div>
				<h3 class="headline mb-0">{{ item.manufacturer }} {{ item.model }}</h3>
				<span class="body-2 font-weight-regular">or similar</span>
			</div>
			<v-spacer></v-spacer>
			<div>
				<h4 class="vehicle-card__price title">€ {{ item.price }} / day</h4>
			</div>
		</v-card-title>

		<div class="body-2 px-3">
			<span class="vehicle-card__icon">
				<v-icon size="20">person</v-icon> {{ item.seats }}
			</span>
			<span class="vehicle-card__icon">
				<v-icon size="20">work</v-icon> {{ item.luggage }}
			</span>
			<span v-if="item.ac" class="vehicle-card__icon">
				<v-icon size="20">ac_unit</v-icon> A/C
			</span>
			<span class="vehicle-card__icon">
				<img svg-inline src="./../../public/icons/transmission.svg" height="20"> {{ item.transmission_type }}
			</span>
		</div>

		<v-divider light class="mt-3"></v-divider>

		<v-card-actions class="d-block text-xs-right">
			<v-btn flat color="primary">Select <v-icon class="mb-1">keyboard_arrow_right</v-icon></v-btn>
		</v-card-actions>
	</v-card>
</template>

<script>
export default {
	props: {
		item: {
			default: null
		}
	}
};
</script>

<style lang="stylus">
.vehicle-card {
	&__icon {
		margin-right: 20px;

		i {
			margin-bottom: -2px;
			padding-right: 2px;
		}

		svg {
			fill: rgba(0,0,0,0.54);
			margin-bottom: -4px;
			padding-right: 2px;
		}
	}
}
</style>