<template>
	<v-app>
		<the-navigation-drawer></the-navigation-drawer>
		<the-header></the-header>
		<v-content>
			<v-container fluid>
				<router-view></router-view>
			</v-container>
		</v-content>
		<the-footer></the-footer>
	</v-app>
</template>

<script>
import TheNavigationDrawer from './components/TheNavigationDrawer';
import TheHeader from './components/TheHeader';
import TheFooter from './components/TheFooter';

export default {
	components: {
		TheNavigationDrawer,
		TheHeader,
		TheFooter
	},
	mounted() {
		// We use dynamic import to prevent "window is not defined" error
		import('webfontloader').then(WebFontLoader => {
			WebFontLoader.load({
				google: {
					families: ['Roboto:100,300,400,500,700,900|Material+Icons']
				},
				active: this.setFontLoaded
			});
		});
	},
	methods: {
		setFontLoaded() {
			this.$emit('font-loaded');
		}
	}
};
</script>
